@function color($color, $tone) {
	// @warn map-get($palette,$color);

	@if map-has-key($palette, $color) {
		$color: map-get($palette, $color);

		@if map-has-key($color, $tone) {
			$tone: map-get($color, $tone);
			@return $tone;
		}

		@warn "unknown tone `#{$tone}` in color";
		@return null;
	}

	@warn "unknown color `#{$color}` in palette";
	@return null;
}

$white: #ffffff;
$palette: (
	purple: (
		50: #f2e8fd,
		100: #DEE0FF,
		200: #BFC3FF,
		300: #B2B8FF,
		400: #8C94FF,
		500: #4D52BF,
		600: #4247A6,
		700: #383C8C,
		800: #2E3173,
		900: #242659,
		950: #242659,
	),
	pink: (
		100: #FFD9E4,
		200: #FFB5CA,
		300: #FF8CAD,
		400: #F57196,
		500: #DC6889,
		600: #CC5476,
		700: #B24B68,
		800: #994059,
		900: #8C4257,
	),
	orange: (
		50: #fbf0ea,
		100: #f8e3d9,
		200: #f2cab7,
		300: #ecb194,
		400: #e59872,
		500: #df7f4f,
		600: #d05f26,
		700: #a1491d,
		800: #713315,
		900: #421e0c,
		950: #2a1308,
	),
	gray: (
		50: #f6f6f9,
		100: #e6e7ef,
		200: #c7c9db,
		300: #a8abc7,
		400: #898eb4,
		500: #6a71a0,
		600: #545b83,
		700: #404664,
		800: #2c3145,
		900: #181b26,
		950: #0e1016,
	),
);
