---
import '../styles/global.scss';
---

<footer>
	<p>&copy; 2024</p>
	<div class="footer_links">
		<a href="https://github.com/ConduciveMammal/theme-explorer" target="_blank">GitHub</a>
	</div>
</footer>
