---
import '../styles/global.scss';
import { SiteTitle } from '../consts';
import logo from '../assets/images/icon.svg'
console.log(logo);

---

<header>
	<nav>
		<h2 id="site_title">
			<a href="/">
					<img src={logo.src} height={logo.height} width={logo.width} class="site-header__logo" alt="Theme Explorer logo" loading="eager" fetchpriority="high" />
				{SiteTitle}
			</a>
		</h2>
		<div class="links">
			<a href="https://github.com/ConduciveMammal/theme-explorer/issues" target="_blank">Contact</a>
		</div>
	</nav>
</header>

<style>
	.site-header__logo {
		max-width: 40px;
		aspect-ratio: 1;
		height: auto;
	}
	.links a {
		text-decoration: none;
	}
</style>
